SUPABASE_URL=https://gazsxolebzixditmawpm.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_secret_service_role_key
GMAIL_ADDRESS=your_email@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password
FRONTEND_URL=http://localhost:3000
